.news__page {
  margin-top: 80px;
  padding: 50px 135px;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  gap: 100px;
  background-color: black;
}
@media only screen and (max-width: 1024px) {
  .news__page {
    padding: 50px 114px;
    gap: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .news__page {
    padding: 75px;
    margin-top: 65px;
  }
}
@media only screen and (max-width: 600px) {
  .news__page {
    padding: 35px;
    gap: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .news__page {
    padding: 20px;
    grid-template-columns: 1fr;
  }
}
.news__page--time {
  font-size: 14px;
  opacity: 0.7;
}
.news__page--left-title h3 {
  line-height: 1.5;
  margin: 10px 0 50px 0;
  font-size: 24px;
  font-weight: bold;
}
.news__page--left-content img {
  margin: 30px 0;
}
.news__page--left-content p {
  font-size: 16px;
  line-height: 1.8;
}
.news__page--right-list__items {
  margin-top: 35px;
}
@media only screen and (max-width: 1024px) {
  .news__page--right-list__items {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .news__page--right-list__items {
    margin-top: 10px;
  }
}
.news__page--right-items {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #e04d01;
}
.news__page--right-items-content {
  margin-top: 5px;
}
.news__page--right-items-content h3 {
  line-height: 1.3;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.news__page--right-items-content p {
  font-size: 14px;
  line-height: 1.5;
}
.news__page--right-items-content a:hover {
  color: #e04d01;
}
.news__page--right-items:last-child {
  border: none;
}

.news__more {
  padding: 50px 135px;
  background-image: url(../img/newsmore.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .news__more {
    padding: 50px 114px;
  }
}
@media only screen and (max-width: 768px) {
  .news__more {
    padding: 75px;
  }
}
@media only screen and (max-width: 600px) {
  .news__more {
    padding: 35px;
  }
}
.news__more-content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 300px;
  gap: 50px;
}
@media only screen and (max-width: 1024px) {
  .news__more-content {
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}
@media only screen and (max-width: 768px) {
  .news__more-content {
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
@media only screen and (max-width: 600px) {
  .news__more-content {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.news__more-items {
  height: 250px;
  transform: translateY(10%);
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10.11%, #000000 105.01%, rgba(0, 0, 0, 0) 105.01%);
  background-image: url(../img/newsMoreItem1.png);
}
.news__more-items a:hover {
  color: #e04d01;
}
.news__more-items span {
  bottom: 70px;
  left: 0;
}
@media only screen and (max-width: 1024px) {
  .news__more-items span {
    bottom: 90px;
  }
}
@media only screen and (max-width: 768px) {
  .news__more-items span {
    bottom: 130px;
  }
}
@media only screen and (max-width: 600px) {
  .news__more-items span {
    bottom: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .news__more-items span {
    bottom: 70px;
  }
}
.news__more-items h3 {
  line-height: 1.3;
  bottom: 10px;
}
.news__more-items h3,
.news__more-items span {
  position: absolute;
  text-align: start;
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
}
.news__more-items--center {
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10.11%, #000000 105.01%, rgba(0, 0, 0, 0) 105.01%);
  background-image: url(../img/newsMoreItem2.png);
  border: 5px solid #e04d01;
}
.news__more-items--center a:hover {
  color: #e04d01;
}
@media only screen and (max-width: 600px) {
  .news__more-items--center {
    height: 300px;
  }
}
.news__more-items--center span {
  bottom: 70px;
  left: 0;
}
@media only screen and (max-width: 1024px) {
  .news__more-items--center span {
    bottom: 110px;
  }
}
@media only screen and (max-width: 768px) {
  .news__more-items--center span {
    bottom: 130px;
  }
}
@media only screen and (max-width: 600px) {
  .news__more-items--center span {
    bottom: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .news__more-items--center span {
    bottom: 70px;
  }
}
.news__more-items--center h3 {
  line-height: 1.3;
  bottom: 10px;
}
.news__more-items--center h3,
.news__more-items--center span {
  position: absolute;
  text-align: start;
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
}

@media only screen and (max-width: 768px) {
  .news__more-title {
    padding: 0px !important;
  }
}
.news__more-title h2 {
  color: #e04d01 !important;
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .news__more-title h2 {
    font-size: 25px !important;
  }
}

.news__page-title {
  color: #e04d01 !important;
  padding-left: 0px !important;
}
@media only screen and (max-width: 1024px) {
  .news__page-title h2 {
    font-size: 25px !important;
    white-space: nowrap;
  }
}

.service {
  background: black;
  margin-top: 80px;
  padding: 50px 135px;
}
@media only screen and (max-width: 1024px) {
  .service {
    padding: 50px 114px;
  }
}
@media only screen and (max-width: 768px) {
  .service {
    padding: 75px;
    margin-top: 35px;
  }
}
@media only screen and (max-width: 600px) {
  .service {
    padding: 35px;
  }
}
@media only screen and (max-width: 480px) {
  .service {
    margin-top: 65px;
    padding: 20px;
    padding-top: 50px;
  }
}
.service__hot {
  background-color: black;
  position: relative;
}
.service__hot-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-position: center top;
  background-repeat: repeat;
  background-image: url(../img/service-bgr.png);
  filter: blur(10px);
  opacity: 0.15;
}
.service__hot-content {
  margin-top: 50px;
}
.service__hot-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}
@media only screen and (max-width: 1024px) {
  .service__hot-list {
    gap: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .service__hot-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 480px) {
  .service__hot-list {
    gap: 20px;
  }
}
.service__hot-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.service__hot-items img {
  height: 150px;
}
.service__hot-items h3 {
  margin-top: 20px;
  font-weight: bold;
}
.service__more {
  background-color: black;
  position: relative;
}
.service__more-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-position: center top;
  background-repeat: repeat;
  background-image: url(../img/service-more-br.png);
  filter: blur(10px);
  opacity: 0.24;
}
.service__more-list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media only screen and (max-width: 1024px) {
  .service__more-list {
    gap: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .service__more-list {
    gap: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .service__more-list {
    gap: 10px;
  }
}
.service__more-items {
  position: relative;
}
.service__more-items-title--right, .service__more-items-title--left, .service__more-items-title--middle {
  top: 25%;
  width: 180px;
  height: 150px;
  border: 5px solid;
  border-image: linear-gradient(45deg, #c02425, #f0cb35) 1;
  border-image-source: linear-gradient(to left);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0.89) 100%);
  position: absolute;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .service__more-items-title--right, .service__more-items-title--left, .service__more-items-title--middle {
    width: 150px;
    height: 100px;
  }
}
@media only screen and (max-width: 480px) {
  .service__more-items-title--right, .service__more-items-title--left, .service__more-items-title--middle {
    top: 15%;
    width: 100px;
    height: 90px;
  }
}
.service__more-items-title--right h3, .service__more-items-title--left h3, .service__more-items-title--middle h3 {
  padding: 10px;
  line-height: 1.3;
  font-weight: bold;
  font-size: 30px;
}
@media only screen and (max-width: 768px) {
  .service__more-items-title--right h3, .service__more-items-title--left h3, .service__more-items-title--middle h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .service__more-items-title--right h3, .service__more-items-title--left h3, .service__more-items-title--middle h3 {
    font-size: 16px;
  }
}
.service__more-items-title--right {
  right: -75px;
}
@media only screen and (max-width: 480px) {
  .service__more-items-title--right {
    right: -20px;
  }
}
.service__more-items-title--left {
  left: -75px;
}
@media only screen and (max-width: 480px) {
  .service__more-items-title--left {
    left: -20px;
  }
}
.service__more-items-title--middle {
  width: 180px;
  height: 200px;
  top: -75px;
  left: 25%;
}
@media only screen and (max-width: 1024px) {
  .service__more-items-title--middle {
    left: 11%;
  }
}
@media only screen and (max-width: 768px) {
  .service__more-items-title--middle {
    width: 130px;
    height: 150px;
    left: 15%;
  }
}
@media only screen and (max-width: 600px) {
  .service__more-items-title--middle {
    top: -50px;
    left: 10%;
  }
}
@media only screen and (max-width: 480px) {
  .service__more-items-title--middle {
    width: 120px;
    height: 90px;
    top: -20px;
    left: 0;
  }
}

.marketing-package {
  background-color: black;
  padding: 50px 135px;
}
@media only screen and (max-width: 1024px) {
  .marketing-package {
    padding: 50px 114px;
  }
}
@media only screen and (max-width: 768px) {
  .marketing-package {
    padding: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .marketing-package {
    padding: 35px;
  }
}
@media only screen and (max-width: 480px) {
  .marketing-package {
    padding: 20px;
  }
}
.marketing-package--title {
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .marketing-package--title h2 {
    font-size: 25px !important;
  }
}

.marketing-list {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 50px;
}
@media only screen and (max-width: 1024px) {
  .marketing-list {
    gap: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .marketing-list {
    gap: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .marketing-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.marketing__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.marketing-background {
  background-color: #343434;
}

.marketing-startup,
.marketing-premium,
.marketing-sme {
  padding: 20px;
}

.marketing__common-title h2 {
  font-size: 30px;
  font-weight: bold;
}

.marketing__prices {
  margin-bottom: 20px;
}
.marketing__prices h2 {
  font-weight: bold;
  display: flex;
  white-space: nowrap;
  gap: 5px;
}
.marketing__prices p {
  margin-top: 5px;
  font-size: 15px;
  opacity: 0.5;
}

.marketing__button a {
  color: #e04d01;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid #e04d01;
  border-radius: 15px;
  padding: 7px 15px;
  transition: 0.5s;
}
.marketing__button a:hover {
  background-color: #e04d01;
  color: #fff;
}

.marketing__premium-title h2 {
  color: #e04d01;
  font-size: 30px;
  font-weight: bold;
}

.about__system {
  background: black;
  margin-top: 80px;
  padding: 30px 200px 80px 200px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .about__system {
    padding: 50px 114px;
  }
}
@media only screen and (max-width: 768px) {
  .about__system {
    padding: 50px;
    margin-top: 35px;
  }
}
@media only screen and (max-width: 600px) {
  .about__system {
    padding: 75px;
  }
}
@media only screen and (max-width: 480px) {
  .about__system {
    margin-top: 65px;
    padding: 20px;
    padding-top: 50px;
  }
}
.about__system-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-position: center top;
  background-repeat: repeat;
  background-image: url(../img/about-bgr.png);
  filter: blur(10px);
  opacity: 0.15;
}
.about__system-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 200px;
  row-gap: 100px;
  margin-top: 50px;
}
@media only screen and (max-width: 1024px) {
  .about__system-list {
    gap: 50px;
    row-gap: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .about__system-list {
    gap: 50px;
    row-gap: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .about__system-list {
    grid-template-columns: 1fr;
  }
}
.about__system-items {
  text-align: center;
  border-radius: 15px;
  border: 5px solid #e04d01;
}
.about__system-items--img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  background-color: black;
  display: flex;
  height: 250px;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .about__system-items--img {
    height: 200px;
  }
}
.about__system-items--img img {
  object-fit: cover;
  padding: 20px 0;
}
.about__system-items--background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-repeat: repeat;
  background-image: url(../img/about-items-img-bgr.png);
  filter: blur(2px);
  opacity: 0.15;
}
.about__system-items--title {
  padding: 20px;
  text-align: start;
}
.about__system-items--title h3 {
  font-size: 18px;
  font-weight: bold;
}
.about__system-items--content {
  height: 200px;
  font-weight: bold;
  text-align: start;
  padding: 20px;
  padding-top: 0;
}
.about__system-items--location, .about__system-items--time, .about__system-items--phone {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.about__system-items--location i, .about__system-items--time i, .about__system-items--phone i {
  font-size: 30px;
  color: #e04d01;
}
.about__system-items--location span, .about__system-items--time span, .about__system-items--phone span {
  font-size: 20px;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .about__system-items--location span, .about__system-items--time span, .about__system-items--phone span {
    font-size: 18px;
  }
}
.about__system-items--btn {
  margin-bottom: 20px;
}
.about__system-items--btn a {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  border: 3px solid #e04d01;
  border-radius: 30px;
  padding: 10px 40px;
}
.about__system-items--btn a:hover {
  color: #fff;
  background-color: #e04d01;
}

@media only screen and (max-width: 480px) {
  .about__title h2 {
    font-size: 30px !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: Quicksand, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

div[id] {
  scroll-margin-top: 80px;
}

.nav {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  height: 80px;
  padding: 0 50px;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}
.nav :hover {
  color: #e04d01;
}
@media only screen and (max-width: 1024px) {
  .nav {
    padding: 0 25px 0 25px;
    grid-template-columns: 235px 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .nav {
    height: 65px;
    grid-template-columns: 180px 1fr;
    padding: 0px 5px 0 5px;
  }
}
@media only screen and (max-width: 600px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 480px) {
  .nav {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 600px) {
  .nav__toggleShow {
    display: flex !important;
  }
}
.nav__toggle {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .nav__toggle {
    font-size: 40px;
    display: block;
    margin-top: -15px;
  }
}
.nav__logo {
  width: 80px;
  margin-left: 8px;
  object-fit: cover;
}
@media only screen and (max-width: 1024px) {
  .nav__logo {
    margin-left: 12px;
    width: 80px;
  }
}
@media only screen and (max-width: 768px) {
  .nav__logo {
    width: 65px;
  }
}
@media only screen and (max-width: 600px) {
  .nav__logo {
    width: 65px;
  }
}
@media only screen and (max-width: 480px) {
  .nav__logo {
    width: 65px;
    margin-left: -6px;
  }
}
.nav__links {
  align-self: center;
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  .nav__links {
    gap: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .nav__links {
    padding-top: 10px;
    gap: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .nav__links {
    background-color: black;
    height: 1000px;
    position: absolute;
    right: 0;
    top: 100%;
    flex-direction: column;
  }
}
.nav__links p {
  white-space: nowrap;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .nav__links p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  .nav__items {
    display: none;
    margin: 0 100px 15px 25px;
  }
}

.carousel {
  margin-top: 80px;
}
.carousel-inner {
  scroll-padding-top: -80px;
}
@media only screen and (max-width: 768px) {
  .carousel {
    margin-top: 65px;
  }
}
@media only screen and (max-width: 1024px) {
  .carousel-item img {
    height: 750px;
    object-fit: cover;
  }
}
@media only screen and (max-width: 600px) {
  .carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
}
@media only screen and (max-width: 480px) {
  .carousel-item img {
    width: 100%;
    object-fit: cover;
    height: 300px;
  }
}

.title--left {
  opacity: 0.99999;
  padding: 66px 0 0 66px;
  align-items: center;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .title--left {
    padding: 45px 0 0 45px;
  }
}
@media only screen and (max-width: 768px) {
  .title--left {
    padding: 25px 0 0 25px;
  }
}
@media only screen and (max-width: 480px) {
  .title--left {
    padding: 25px 0 0 5px;
  }
}

.shape {
  width: 59px;
  height: 29px;
}
@media only screen and (max-width: 768px) {
  .shape {
    width: 40px;
    height: 20px;
  }
}

.main__title {
  margin-left: 10px;
}
.main__title h2 {
  font-size: 30px;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .main__title h2 {
    font-size: 20px;
  }
}

.line__title {
  margin: 4px 0 0 3px;
  width: 100px;
  height: 23px;
  border-left: 2px solid #6c16c7;
}
@media only screen and (max-width: 480px) {
  .line__title {
    margin-top: 2px;
    height: 17px;
  }
}

.title--standard {
  opacity: 0.9999999;
  padding: 66px 0 0 135px;
  align-items: center;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .title--standard {
    padding: 66px 0 0 114px;
  }
}
@media only screen and (max-width: 768px) {
  .title--standard {
    padding: 66px 0 0 75px;
  }
}
@media only screen and (max-width: 480px) {
  .title--standard {
    padding: 15px 0 0 5px;
  }
}

.title--middle {
  padding-top: 50px;
  opacity: 0.999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event {
  background-color: black;
  position: relative;
}
.event__list-items {
  opacity: 0.9999999;
  padding: 130px 135px 110px 135px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
@media only screen and (max-width: 1024px) {
  .event__list-items {
    padding: 70px 114px 90px 114px;
    gap: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .event__list-items {
    padding: 50px 75px 70px 75px;
    gap: 35px;
  }
}
@media only screen and (max-width: 600px) {
  .event__list-items {
    grid-template-columns: 1fr;
    row-gap: 60px;
  }
}
@media only screen and (max-width: 480px) {
  .event__list-items {
    row-gap: 70px;
    grid-template-columns: 1fr;
    padding: 20px 20px 0 20px;
  }
}
.event__items--img img {
  width: 320px;
  height: 175px;
  border-style: solid;
  border-color: #017fff;
  border-width: 4px 1px 0px 0px;
  border-radius: 0px 50px;
  object-fit: cover;
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  .event__items--img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-size: cover;
  }
}
@media only screen and (max-width: 480px) {
  .event__items--img img {
    width: 100%;
    object-fit: cover;
    background-size: cover;
  }
}
.event__items--name {
  margin: 20px 0 20px 0;
}
.event__items--name h3 {
  font-size: 16px;
  font-weight: bold;
}
.event__items--name span {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.75;
}
.event__items--content p {
  font-size: 14px;
  font-weight: medium;
}

.news {
  background-color: black;
}
@media only screen and (max-width: 1024px) {
  .news {
    padding-bottom: 50px;
  }
}
.news__title {
  padding-top: 50px;
}
.news__list-items {
  padding: 50px 135px 50px 135px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
@media only screen and (max-width: 1024px) {
  .news__list-items {
    padding: 70px 114px 90px 114px;
    gap: 50px;
    row-gap: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .news__list-items {
    padding: 50px 75px 70px 75px;
    gap: 35px;
    row-gap: 70px;
  }
}
@media only screen and (max-width: 600px) {
  .news__list-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 480px) {
  .news__list-items {
    grid-template-columns: 1fr;
    padding: 20px 20px 0 20px;
  }
}
.news__items {
  border-style: solid;
  border-color: #6c16c7;
  border-width: 1px;
  border-top-right-radius: 50px;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(125, 1, 255, 0.3));
}
.news__items a:hover {
  background-color: #e04d01;
  color: #fff;
}
.news__items-spacing {
  padding: 10px;
}
.news__items--img img {
  border-style: solid;
  border-color: #017fff;
  border-width: 4px 1px 0px 0px;
  border-radius: 0px 50px;
  object-fit: cover;
  background-size: cover;
}
.news__items--name h3 {
  line-height: 1.4;
  margin: 20px 0 10px 0;
  font-size: 16px;
  font-weight: bold;
}
.news__items--content {
  padding-bottom: 50px;
}
.news__items--content p {
  font-size: 14px;
}
.news__items--button {
  text-align: center;
  font-size: 16px;
  border-radius: 45px;
  background-color: #2f7bfe;
  padding: 10px 40px;
  position: absolute;
  left: 27%;
  top: 95%;
  transition: 0.3s;
}
@media only screen and (max-width: 1024px) {
  .news__items--button {
    left: 16%;
  }
}
@media only screen and (max-width: 768px) {
  .news__items--button {
    font-size: 14px;
    padding: 10px 25px;
    left: 17%;
  }
}
@media only screen and (max-width: 600px) {
  .news__items--button {
    left: 20%;
  }
}
@media only screen and (max-width: 480px) {
  .news__items--button {
    left: 35%;
  }
}

.gallery {
  background-color: black;
  position: relative;
}
.gallery__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-position: center top;
  background-repeat: repeat;
  background-image: url(https://w.ladicdn.com/s1440x1281/5e7f0a83b0115d312e4d7d67/275698502_509785070511968_6714295561257863225_n-20220323164656.jpg);
  filter: blur(10px);
  opacity: 0.34;
}
.gallery__list-items {
  opacity: 0.99999;
  padding: 0 135px;
}
@media only screen and (max-width: 1024px) {
  .gallery__list-items {
    padding: 0 114px;
  }
}
@media only screen and (max-width: 768px) {
  .gallery__list-items {
    padding: 0 75px;
  }
}
@media only screen and (max-width: 480px) {
  .gallery__list-items {
    padding: 0 20px;
  }
}
.gallery__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 150px 250px 250px 250px;
  grid-template-areas: "a a b" "a a b" "a a c" "d e f" "d e f";
}
@media only screen and (max-width: 1024px) {
  .gallery__items {
    grid-template-rows: 120px 120px 260px 260px 260px;
  }
}
@media only screen and (max-width: 768px) {
  .gallery__items {
    height: 900px;
    grid-template-rows: 150px 100px 200px 200px 200px;
  }
}
@media only screen and (max-width: 480px) {
  .gallery__items {
    height: 1550px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 300px 250px 250px 450px 300px;
    grid-template-areas: "a a" "b b" "c d" "e e" "f f";
  }
}
.gallery__items--img:first-child {
  grid-area: a;
}
@media only screen and (max-width: 1024px) {
  .gallery__items--img img:first-child {
    height: 450px !important;
  }
}
.gallery__items--img:last-child {
  grid-area: f;
}
.gallery__items--img:nth-child(2) {
  grid-area: b;
}
.gallery__items--img:nth-child(3) {
  grid-area: c;
}
.gallery__items--img:nth-child(4) {
  grid-area: d;
}
.gallery__items--img:nth-child(5) {
  grid-area: e;
}
.gallery__items--img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
@media only screen and (max-width: 1024px) {
  .gallery__items--img img {
    height: 280px !important;
    object-fit: cover;
  }
}
@media only screen and (max-width: 480px) {
  .gallery__items--img img {
    height: 350px !important;
    object-fit: cover;
  }
}
@media only screen and (max-width: 768px) {
  .gallery__items--img img {
    height: 400px !important;
    object-fit: cover;
  }
}

.about {
  background-color: black;
  position: relative;
}
.about__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-position: center top;
  background-repeat: repeat;
  background-image: url(https://w.ladicdn.com/s1440x1281/5e7f0a83b0115d312e4d7d67/275698502_509785070511968_6714295561257863225_n-20220323164656.jpg);
  filter: blur(10px);
  opacity: 0.34;
}
.about__shape {
  opacity: 0.999999;
  width: 42px;
  height: 42px;
  transform: rotate(90deg);
  margin: -5px 0 0 -30px;
}
.about__content p {
  opacity: 0.999999;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .about__content p {
    font-size: 10px;
  }
}
.about__list-items {
  opacity: 0.999999;
  padding: 50px 135px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
@media only screen and (max-width: 1024px) {
  .about__list-items {
    gap: 50px;
    padding: 50px 114px;
  }
}
@media only screen and (max-width: 768px) {
  .about__list-items {
    gap: 35px;
    padding: 50px 75px;
  }
}
@media only screen and (max-width: 600px) {
  .about__list-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 480px) {
  .about__list-items {
    padding: 25px 20px;
    grid-template-columns: 1fr;
  }
}
.about__items--name h2 {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .about__items--name h2 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .about__items--name h2 {
    font-size: 20px;
  }
}
.about__items--content {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 500;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .about__items--content {
    font-size: 12px;
  }
}
@media only screen and (max-width: 480px) {
  .about__items--content {
    font-size: 14px;
  }
}
.about__items--img {
  border-style: solid;
  border-color: #6c16c7;
  border-width: 5px 0px 0px;
  border-radius: 0px;
  transition: 0.5s;
}
.about__items--img:hover {
  border-color: #e04d01;
  transform: scale(0.97);
}

.contact {
  background-color: black;
  padding-bottom: 30px;
}
@media only screen and (max-width: 480px) {
  .contact {
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 1024px) {
  .contact {
    padding-bottom: 80px;
  }
}
.contact__items {
  padding: 50px 135px 0 135px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
@media only screen and (max-width: 1024px) {
  .contact__items {
    gap: 50px;
    padding: 50px 114px 0 114px;
  }
}
@media only screen and (max-width: 768px) {
  .contact__items {
    gap: 35px;
    padding: 25px 75px 0 75px;
  }
}
@media only screen and (max-width: 768px) {
  .contact__items {
    gap: 35px;
    padding: 25px 35px 0 35px;
  }
}
@media only screen and (max-width: 480px) {
  .contact__items {
    display: flex;
    flex-direction: column-reverse;
    padding: 25px 20px 0 20px;
  }
}
@media only screen and (max-width: 768px) {
  .contact__items-left--location h3 {
    font-size: 16px !important;
  }
}
.contact__items-left--location p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
}
@media only screen and (max-width: 768px) {
  .contact__items-left--location p {
    font-size: 14px;
  }
}
.contact__items-left--connection {
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  .contact__items-left--connection h3 {
    font-size: 16px !important;
  }
}
.contact__icons {
  display: flex;
  font-size: 30px;
  gap: 20px;
}
.contact__icons :hover {
  color: #e04d01;
}
@media only screen and (max-width: 768px) {
  .contact__icons {
    font-size: 20px;
  }
}
.contact__items-middle {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .contact__items-middle {
    text-align: left;
  }
}
.contact__our-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media only screen and (max-width: 768px) {
  .contact__our-group h3 {
    font-size: 16px !important;
  }
}
.contact__our-group p {
  font-size: 14px;
  font-weight: 500;
}
.contact__items-right--response {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact .contact__items-left--location h3,
.contact .contact__items-left--connection h3,
.contact .contact__our-group h3 {
  font-size: 20px;
  font-weight: bold;
}

input[type=text],
textarea[id=response] {
  color: #fff;
  padding: 10px;
  background-color: black;
  border: 1px solid #6c16c7;
  height: 40px;
}

textarea[id=response] {
  align-items: flex-start;
  height: 70px;
}

::placeholder {
  font-size: 14px;
  color: #fff;
}

.response-btn {
  align-self: center;
  width: 150px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
}

.Phone {
  position: fixed;
  bottom: 25px;
  left: 25px;
  display: block;
  margin: 0;
  width: 45px;
  height: 45px;
  font-size: 45px;
  background-color: #3498db;
  border-radius: 0.5em;
  box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  transform: translate3d(0, 0, 0) scale(1);
}
.Phone:hover {
  transform: scale(1.3) !important;
}
@media only screen and (max-width: 480px) {
  .Phone {
    bottom: 10px;
    left: 10px;
  }
}

.Phone::before,
.Phone::after {
  position: absolute;
  content: "";
}

.Phone::before {
  top: -14px;
  left: -15px;
  width: 75px;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
  top: 0.25em;
  left: 0.25em;
  width: 0.5em;
  height: 0.5em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

.Phone.is-animating {
  animation: phone-outer 2000ms infinite;
}
.Phone.is-animating::before {
  animation: phone-inner 2000ms infinite;
}
.Phone.is-animating::after {
  animation: phone-icon 2000ms infinite;
}

@keyframes phone-outer {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }
  33.3333% {
    transform: translate3d(0, 0, 0) scale(1.1);
    box-shadow: 0 0 0 0em rgba(52, 152, 219, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
  }
  66.6666% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0.5em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }
}
@keyframes phone-inner {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
  }
  33.3333% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0.9);
  }
  66.6666% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
}
@keyframes phone-icon {
  0% {
    transform: translate3d(0em, 0, 0);
  }
  2% {
    transform: translate3d(0.01em, 0, 0);
  }
  4% {
    transform: translate3d(-0.01em, 0, 0);
  }
  6% {
    transform: translate3d(0.01em, 0, 0);
  }
  8% {
    transform: translate3d(-0.01em, 0, 0);
  }
  10% {
    transform: translate3d(0.01em, 0, 0);
  }
  12% {
    transform: translate3d(-0.01em, 0, 0);
  }
  14% {
    transform: translate3d(0.01em, 0, 0);
  }
  16% {
    transform: translate3d(-0.01em, 0, 0);
  }
  18% {
    transform: translate3d(0.01em, 0, 0);
  }
  20% {
    transform: translate3d(-0.01em, 0, 0);
  }
  22% {
    transform: translate3d(0.01em, 0, 0);
  }
  24% {
    transform: translate3d(-0.01em, 0, 0);
  }
  26% {
    transform: translate3d(0.01em, 0, 0);
  }
  28% {
    transform: translate3d(-0.01em, 0, 0);
  }
  30% {
    transform: translate3d(0.01em, 0, 0);
  }
  32% {
    transform: translate3d(-0.01em, 0, 0);
  }
  34% {
    transform: translate3d(0.01em, 0, 0);
  }
  36% {
    transform: translate3d(-0.01em, 0, 0);
  }
  38% {
    transform: translate3d(0.01em, 0, 0);
  }
  40% {
    transform: translate3d(-0.01em, 0, 0);
  }
  42% {
    transform: translate3d(0.01em, 0, 0);
  }
  44% {
    transform: translate3d(-0.01em, 0, 0);
  }
  46% {
    transform: translate3d(0em, 0, 0);
  }
}
.messenger-fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: 45px;
  height: 45px;
  color: white;
  background-color: #3498db;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  transition: 0.5s;
}
@media only screen and (max-width: 480px) {
  .messenger-fixed {
    bottom: 10px;
    right: 10px;
  }
}
.messenger-fixed:hover {
  transform: scale(1.1);
}
.messenger-fixed a {
  color: #fff;
}
.messenger-fixed i {
  margin-top: 15px;
}
.messenger-fixed span {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 17px;
  height: 17px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -5px;
}

.messenger-support {
  position: absolute;
  bottom: 7px;
  left: -130px;
  white-space: nowrap;
  font-size: 14px;
  background-color: #3b5998;
  padding: 5px 8px;
  border-radius: 10px;
}

video {
  -moz-transform: translateX(50%) translateY(50%);
  -webkit-transform: translateX(50%) translateY(50%);
  -ms-transform: translateX(50%) translateY(50%);
  transform: translateX(50%) translateY(50%);
  bottom: 50%;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 50%;
  width: auto;
  opacity: 0.15;
  filter: blur(5px);
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
