$white-color: #fff;
$orange-color: #e04d01;
$purple-color: rgb(108, 22, 199);
$blue-color: rgb(1, 127, 255);
$button-blue-color: rgb(47, 123, 254);
$black-color: rgb(0, 0, 0);
$yellow-color: #ffad01;
