@import 'mixin';
@import 'variables';
@import 'news';
body {
	color: $white-color;
	font-family: Quicksand, sans-serif;
}
a {
	text-decoration: none;
	color: $white-color;
}
// handle scroll

div[id] {
	scroll-margin-top: 80px;
}
// Navbar
.nav {
	background-color: $black-color;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	text-align: center;
	height: 80px;
	padding: 0px 50px;
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0;
	:hover {
		color: $orange-color;
	}
	@include Responsive(MD) {
		padding: 0 25px 0 25px;
		grid-template-columns: 235px 1fr;
	}
	@include Responsive(SM) {
		height: 65px;
		grid-template-columns: 180px 1fr;
		padding: 0px 5px 0 5px;
	}
	@include Responsive(XSM) {
		display: flex;
		justify-content: space-between;
	}

	&__toggleShow {
		@include Responsive(XSM) {
			display: flex !important;
		}
	}
	&__toggle {
		display: none;
		cursor: pointer;
		@include Responsive(XSM) {
			font-size: 40px;
			display: block;
			margin-top: -15px;
		}
	}

	&__logo {
		width: 80px;
		margin-left: 8px;
		object-fit: cover;
		@include Responsive(MD) {
			margin-left: 12px;
			width: 80px;
		}
		@include Responsive(SM) {
			width: 65px;
		}
		@include Responsive(XSM) {
			width: 65px;
		}
		@include Responsive(XS) {
			width: 65px;
			margin-left: -6px;
		}
	}

	&__links {
		align-self: center;
		display: flex;
		gap: 40px;
		@include Responsive(SM) {
			gap: 20px;
		}
		@include Responsive(XSM) {
			padding-top: 10px;
			gap: 15px;
		}
		@include Responsive(XSM) {
			background-color: $black-color;
			height: 1000px;
			position: absolute;
			right: 0;
			top: 100%;
			flex-direction: column;
		}
		p {
			white-space: nowrap;
			font-weight: bold;
			font-size: 14px;
			text-transform: uppercase;
			@include Responsive(SM) {
				font-size: 12px;
			}
		}
	}
	&__items {
		@include Responsive(XSM) {
			display: none;
			margin: 0 100px 15px 25px;
		}
	}
}

// Carousel
.carousel {
	margin-top: 80px;
	&-inner {
		scroll-padding-top: -80px;
	}
	@include Responsive(SM) {
		margin-top: 65px;
	}
	&-item img {
		@include Responsive(MD) {
			height: 750px;
			object-fit: cover;
		}
		@include Responsive(XSM) {
			width: 100%;
			height: 600px;
			object-fit: cover;
		}
		@include Responsive(XS) {
			width: 100%;
			object-fit: cover;
			height: 300px;
		}
	}
}
// Title
.title--left {
	opacity: 0.99999;
	padding: 66px 0 0 66px;
	align-items: center;
	display: flex;
	@include Responsive(MD) {
		padding: 45px 0 0 45px;
	}
	@include Responsive(SM) {
		padding: 25px 0 0 25px;
	}
	@include Responsive(XS) {
		padding: 25px 0 0 5px;
	}
}
.shape {
	width: 59px;
	height: 29px;
	@include Responsive(SM) {
		width: 40px;
		height: 20px;
	}
}
.main__title {
	margin-left: 10px;
	h2 {
		font-size: 30px;
		font-weight: bold;
		@include Responsive(XS) {
			font-size: 20px;
		}
	}
}
.line__title {
	margin: 4px 0 0 3px;
	width: 100px;
	height: 23px;
	border-left: 2px solid $purple-color;
	@include Responsive(XS) {
		margin-top: 2px;
		height: 17px;
	}
}
.title--standard {
	opacity: 0.9999999;
	padding: 66px 0 0 135px;
	align-items: center;
	display: flex;
	@include Responsive(MD) {
		padding: 66px 0 0 114px;
	}
	@include Responsive(SM) {
		padding: 66px 0 0 75px;
	}
	@include Responsive(XS) {
		padding: 15px 0 0 5px;
	}
}
.title--middle {
	padding-top: 50px;
	opacity: 0.999999;
	display: flex;
	align-items: center;
	justify-content: center;
}
// signature event
.event {
	background-color: $black-color;
	position: relative;
	&__background {
		position: absolute;
		width: 100%;
		height: 90%;
		top: 0;
		left: 0;
		pointer-events: none;
		overflow: hidden;
		background-size: cover;
		background-attachment: scroll;
		background-origin: content-box;
		background-image: url(https://w.ladicdn.com/s1440x747/5e7f0a83b0115d312e4d7d67/rainbow-background-by-freeject-1-20220322165049.jpg);
		background-position: left top;
		background-repeat: repeat;
		filter: contrast(90%) saturate(128%) blur(80px);
	}
	&__list-items {
		opacity: 0.9999999;
		padding: 130px 135px 110px 135px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 100px;
		@include Responsive(MD) {
			padding: 70px 114px 90px 114px;
			gap: 50px;
		}
		@include Responsive(SM) {
			padding: 50px 75px 70px 75px;
			gap: 35px;
		}
		@include Responsive(XSM) {
			grid-template-columns: 1fr;
			row-gap: 60px;
		}
		@include Responsive(XS) {
			row-gap: 70px;
			grid-template-columns: 1fr;
			padding: 20px 20px 0 20px;
		}
	}
	&__items--img img {
		width: 320px;
		height: 175px;
		border-style: solid;
		border-color: $blue-color;
		border-width: 4px 1px 0px 0px;
		border-radius: 0px 50px;
		object-fit: cover;
		background-size: cover;
		@include Responsive(XSM) {
			width: 100%;
			height: 250px;
			object-fit: cover;
			background-size: cover;
		}
		@include Responsive(XS) {
			width: 100%;
			object-fit: cover;
			background-size: cover;
		}
	}
	&__items--name {
		margin: 20px 0 20px 0;
		h3 {
			font-size: 16px;
			font-weight: bold;
		}
		span {
			font-size: 14px;
			font-weight: bold;
			opacity: 0.75;
		}
	}
	&__items--content {
		p {
			font-size: 14px;
			font-weight: medium;
		}
	}
}

// news
.news {
	background-color: $black-color;
	@include Responsive(MD) {
		padding-bottom: 50px;
	}
	&__title {
		padding-top: 50px;
	}
	&__list-items {
		padding: 50px 135px 50px 135px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 100px;
		@include Responsive(MD) {
			padding: 70px 114px 90px 114px;
			gap: 50px;
			row-gap: 70px;
		}
		@include Responsive(SM) {
			padding: 50px 75px 70px 75px;
			gap: 35px;
			row-gap: 70px;
		}
		@include Responsive(XSM) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include Responsive(XS) {
			grid-template-columns: 1fr;
			padding: 20px 20px 0 20px;
		}
	}
	&__items {
		border-style: solid;
		border-color: $purple-color;
		border-width: 1px;
		border-top-right-radius: 50px;
		position: relative;
		a:hover {
			background-color: $orange-color;
			color: $white-color;
		}
	}
	&__items-spacing {
		padding: 10px;
	}
	&__items--img img {
		border-style: solid;
		border-color: $blue-color;
		border-width: 4px 1px 0px 0px;
		border-radius: 0px 50px;
		object-fit: cover;
		background-size: cover;
	}
	&__items--name {
		h3 {
			line-height: 1.4;
			margin: 20px 0 10px 0;
			font-size: 16px;
			font-weight: bold;
		}
	}
	&__items--content {
		padding-bottom: 50px;
		p {
			font-size: 14px;
		}
	}
	&__items--button {
		text-align: center;
		font-size: 16px;
		border-radius: 45px;
		background-color: $button-blue-color;
		padding: 10px 40px;
		position: absolute;
		left: 27%;
		top: 95%;
		transition: 0.3s;
		@include Responsive(MD) {
			left: 16%;
		}
		@include Responsive(SM) {
			font-size: 14px;
			padding: 10px 25px;
			left: 17%;
		}
		@include Responsive(XSM) {
			left: 20%;
		}
		@include Responsive(XS) {
			left: 35%;
		}
	}
}
// Gallery
.gallery {
	background-color: $black-color;
	position: relative;
	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		overflow: hidden;
		background-size: cover;
		background-attachment: scroll;
		background-origin: content-box;
		background-position: center top;
		background-repeat: repeat;
		background-image: url(https://w.ladicdn.com/s1440x1281/5e7f0a83b0115d312e4d7d67/275698502_509785070511968_6714295561257863225_n-20220323164656.jpg);
		filter: blur(10px);
		opacity: 0.34;
	}
	&__list-items {
		opacity: 0.99999;
		padding: 0 135px;
		@include Responsive(MD) {
			padding: 0 114px;
		}
		@include Responsive(SM) {
			padding: 0 75px;
		}
		@include Responsive(XS) {
			padding: 0 20px;
		}
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 250px 150px 250px 250px 250px;
		grid-template-areas:
			'a a b'
			'a a b'
			'a a c'
			'd e f'
			'd e f';
		@include Responsive(MD) {
			grid-template-rows: 120px 120px 260px 260px 260px;
		}
		@include Responsive(SM) {
			height: 900px;
			grid-template-rows: 150px 100px 200px 200px 200px;
		}
		@include Responsive(XS) {
			height: 1550px;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 300px 300px 250px 250px 450px 300px;
			grid-template-areas:
				'a a'
				'b b'
				'c d'
				'e e'
				'f f';
		}
	}
	&__items--img:first-child {
		grid-area: a;
	}
	&__items--img img:first-child {
		@include Responsive(MD) {
			height: 450px !important;
		}
	}
	&__items--img:last-child {
		grid-area: f;
	}
	&__items--img:nth-child(2) {
		grid-area: b;
	}
	&__items--img:nth-child(3) {
		grid-area: c;
	}
	&__items--img:nth-child(4) {
		grid-area: d;
	}
	&__items--img:nth-child(5) {
		grid-area: e;
	}
	&__items--img img {
		width: 100%;
		height: 400px;
		object-fit: cover;
		@include Responsive(MD) {
			height: 280px !important;
			object-fit: cover;
		}
		@include Responsive(XS) {
			height: 350px !important;
			object-fit: cover;
		}
		@include Responsive(SM) {
			height: 400px !important;
			object-fit: cover;
		}
	}
}
// About
.about {
	background-color: $black-color;
	position: relative;
	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		overflow: hidden;
		background-size: cover;
		background-attachment: scroll;
		background-origin: content-box;
		background-position: center top;
		background-repeat: repeat;
		background-image: url(https://w.ladicdn.com/s1440x1281/5e7f0a83b0115d312e4d7d67/275698502_509785070511968_6714295561257863225_n-20220323164656.jpg);
		filter: blur(10px);
		opacity: 0.34;
	}
	&__shape {
		opacity: 0.999999;
		width: 42px;
		height: 42px;
		transform: rotate(90deg);
		margin: -5px 0 0 -30px;
	}
	&__content p {
		opacity: 0.999999;
		margin-top: 10px;
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		@include Responsive(XS) {
			font-size: 10px;
		}
	}
	&__list-items {
		opacity: 0.999999;
		padding: 50px 135px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 100px;
		@include Responsive(MD) {
			gap: 50px;
			padding: 50px 114px;
		}
		@include Responsive(SM) {
			gap: 35px;
			padding: 50px 75px;
		}
		@include Responsive(XSM) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include Responsive(XS) {
			padding: 25px 20px;
			grid-template-columns: 1fr;
		}
	}
	&__items--name h2 {
		margin-top: 15px;
		font-weight: bold;
		text-align: center;
		@include Responsive(SM) {
			font-size: 16px;
		}
		@include Responsive(XS) {
			font-size: 20px;
		}
	}
	&__items--content {
		font-size: 14px;
		margin-top: 5px;
		font-weight: 500;
		text-align: center;
		@include Responsive(SM) {
			font-size: 12px;
		}
		@include Responsive(XS) {
			font-size: 14px;
		}
	}
	&__items--img {
		border-style: solid;
		border-color: $purple-color;
		border-width: 5px 0px 0px;
		border-radius: 0px;
		transition: 0.5s;
	}
	&__items--img:hover {
		border-color: $orange-color;
		transform: scale(0.97);
	}
}
// Contact
.contact {
	background-color: $black-color;
	padding-bottom: 30px;
	&__items {
		padding: 50px 135px 0 135px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 100px;
		@include Responsive(MD) {
			gap: 50px;
			padding: 50px 114px 0 114px;
		}
		@include Responsive(SM) {
			gap: 35px;
			padding: 25px 75px 0 75px;
		}
		@include Responsive(SM) {
			gap: 35px;
			padding: 25px 35px 0 35px;
		}
		@include Responsive(XS) {
			display: flex;
			flex-direction: column-reverse;
			padding: 25px 20px 0 20px;
		}
	}
	&__items-left {
		&--location {
			h3 {
				@include Responsive(SM) {
					font-size: 16px !important;
				}
			}
			p {
				font-size: 16px;
				font-weight: 400;
				opacity: 0.8;
				@include Responsive(SM) {
					font-size: 14px;
				}
			}
		}
		&--connection {
			margin-top: 20px;
			h3 {
				@include Responsive(SM) {
					font-size: 16px !important;
				}
			}
		}
	}
	&__icons {
		display: flex;
		font-size: 30px;
		gap: 20px;
		:hover {
			color: $orange-color;
		}
		@include Responsive(SM) {
			font-size: 20px;
		}
	}
	&__items-middle {
		text-align: center;
		@include Responsive(SM) {
			text-align: left;
		}
	}
	&__our-group {
		display: flex;
		flex-direction: column;
		gap: 7px;
		h3 {
			@include Responsive(SM) {
				font-size: 16px !important;
			}
		}
		p {
			font-size: 14px;
			font-weight: 500;
		}
	}
	&__items-right--response {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.contact__items-left--location,
	.contact__items-left--connection,
	.contact__our-group {
		h3 {
			font-size: 20px;
			font-weight: bold;
		}
	}
}
// Input
input[type='text'],
textarea[id='response'] {
	color: $white-color;
	padding: 10px;
	background-color: $black-color;
	border: 1px solid $purple-color;
	height: 40px;
}
textarea[id='response'] {
	align-items: flex-start;
	height: 70px;
}

::placeholder {
	font-size: 14px;
	color: $white-color;
}
.response-btn {
	align-self: center;
	width: 150px;
	height: 40px;
	font-size: 14px;
	font-weight: bold;
}
// Phone fixed
.Phone {
	position: fixed;
	bottom: 25px;
	left: 25px;
	display: block;
	margin: 0;
	width: 45px;
	height: 45px;
	font-size: 45px;
	background-color: #3498db;
	border-radius: 0.5em;
	box-shadow: 0 0 0 0em rgba(#3498db, 0), 0em 0.05em 0.1em rgba(#000000, 0.2);
	transform: translate3d(0, 0, 0) scale(1);
	&:hover {
		transform: scale(1.3) !important;
	}
	@include Responsive(XS) {
		bottom: 10px;
		left: 10px;
	}
}

.Phone::before,
.Phone::after {
	position: absolute;
	content: '';
}

.Phone::before {
	top: -14px;
	left: -15px;
	width: 75px;
	height: 75px;
	background-color: rgba(#fff, 0.1);
	border-radius: 100%;
	opacity: 1;
	transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
	top: 0.25em;
	left: 0.25em;
	width: 0.5em;
	height: 0.5em;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	transform: translate3d(0, 0, 0);
}

.Phone.is-animating {
	animation: phone-outer 2000ms infinite;

	&::before {
		animation: phone-inner 2000ms infinite;
	}

	&::after {
		animation: phone-icon 2000ms infinite;
	}
}

@keyframes phone-outer {
	0% {
		transform: translate3d(0, 0, 0) scale(1);
		box-shadow: 0 0 0 0em rgba(#3498db, 0), 0em 0.05em 0.1em rgba(#000000, 0.2);
	}
	33.3333% {
		transform: translate3d(0, 0, 0) scale(1.1);
		box-shadow: 0 0 0 0em rgba(#3498db, 0.1),
			0em 0.05em 0.1em rgba(#000000, 0.5);
	}
	66.6666% {
		transform: translate3d(0, 0, 0) scale(1);
		box-shadow: 0 0 0 0.5em rgba(#3498db, 0),
			0em 0.05em 0.1em rgba(#000000, 0.2);
	}
	100% {
		transform: translate3d(0, 0, 0) scale(1);
		box-shadow: 0 0 0 0em rgba(#3498db, 0), 0em 0.05em 0.1em rgba(#000000, 0.2);
	}
}

@keyframes phone-inner {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(0);
	}
	33.3333% {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(0.9);
	}
	66.6666% {
		opacity: 0;
		transform: translate3d(0, 0, 0) scale(0);
	}
	100% {
		opacity: 0;
		transform: translate3d(0, 0, 0) scale(0);
	}
}

@keyframes phone-icon {
	0% {
		transform: translate3d(0em, 0, 0);
	}
	2% {
		transform: translate3d(0.01em, 0, 0);
	}
	4% {
		transform: translate3d(-0.01em, 0, 0);
	}
	6% {
		transform: translate3d(0.01em, 0, 0);
	}
	8% {
		transform: translate3d(-0.01em, 0, 0);
	}
	10% {
		transform: translate3d(0.01em, 0, 0);
	}
	12% {
		transform: translate3d(-0.01em, 0, 0);
	}
	14% {
		transform: translate3d(0.01em, 0, 0);
	}
	16% {
		transform: translate3d(-0.01em, 0, 0);
	}
	18% {
		transform: translate3d(0.01em, 0, 0);
	}
	20% {
		transform: translate3d(-0.01em, 0, 0);
	}
	22% {
		transform: translate3d(0.01em, 0, 0);
	}
	24% {
		transform: translate3d(-0.01em, 0, 0);
	}
	26% {
		transform: translate3d(0.01em, 0, 0);
	}
	28% {
		transform: translate3d(-0.01em, 0, 0);
	}
	30% {
		transform: translate3d(0.01em, 0, 0);
	}
	32% {
		transform: translate3d(-0.01em, 0, 0);
	}
	34% {
		transform: translate3d(0.01em, 0, 0);
	}
	36% {
		transform: translate3d(-0.01em, 0, 0);
	}
	38% {
		transform: translate3d(0.01em, 0, 0);
	}
	40% {
		transform: translate3d(-0.01em, 0, 0);
	}
	42% {
		transform: translate3d(0.01em, 0, 0);
	}
	44% {
		transform: translate3d(-0.01em, 0, 0);
	}
	46% {
		transform: translate3d(0em, 0, 0);
	}
}

// Messenger fixed
.messenger-fixed {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	width: 45px;
	height: 45px;
	color: white;
	background-color: #3498db;
	border-radius: 50%;
	position: fixed;
	bottom: 25px;
	right: 25px;
	transition: 0.5s;
	@include Responsive(XS) {
		bottom: 10px;
		right: 10px;
	}
	&:hover {
		transform: scale(1.1);
	}
	a {
		color: $white-color;
	}
	i {
		margin-top: 15px;
	}
	span {
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		width: 17px;
		height: 17px;
		background-color: rgb(255, 0, 0);
		border-radius: 50%;
		position: absolute;
		top: 0px;
		left: -5px;
	}
}
.messenger-support {
	position: absolute;
	bottom: 7px;
	left: -130px;
	white-space: nowrap;
	font-size: 14px;
	background-color: #3b5998;
	padding: 5px 8px;
	border-radius: 10px;
}
